@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackheart {
    width: 20px;
    margin-right: 1rem;
}

#npm-logo {
    width: 50px;
    margin-right: 1rem;
}

#search-icon {
    width: 20px;
}

.header-links a {
    display: flex;
    justify-content: space-between;
    
}

#first {
    height: 600px;
    background-color: rgba(232,217,217,.3);
}

h1 {
    font-size: 5em;
    text-align: center;
}

#first article {
    text-align: center;
    margin: 40px 0px;
}

#first div {
    text-align: center;
}

#see-plans {
    padding: 15px 50px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#join {
    padding: 15px 50px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    background-color: white;
}

#second {
    height: 600px;
}

h2 {
    margin: 75px;
    font-size: 3em;
    text-align: center;
    line-height: 1em;
    background-color: rgba(255,204,53,.4);
}

#second img {
    width: 400px;
    height: auto;
    padding: 125px 700px;

}

#third {
    height: 600px;
}

#third img {
    width: 50px;
    
}

#third > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#third a {
    padding: 15px 100px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: black;
}

.feature-box {
    margin: 0px 5% 0 5%;
    padding: 0px;
    width: 60%;
}

h3 {
    color: #FB3B49;
}